# UT2000 Beacon Summary
For the MADS framework paper, we need to present the data. This notebook looks at the data to make sure we have reasonable values at least in terms of the beacon.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
import os.path
from os import path

from datetime import datetime, timedelta
import pytz

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates

import pandas as pd
import numpy as np

# ID Crossover
We need the IDs from the multiply modalities to cross-reference the participants.

In [3]:
ids_1000 = pd.read_csv('../data/raw/ut1000/admin/id_crossover.csv')
# limiting so we don't have repeats with ut2000
ids_1000 = ids_1000[ids_1000['record'] < 2000]
ids_1000.head()

   record     beiwe  beacon
0    1025  2qki3fim     NaN
1    1041  ygny19ey     NaN
2    1063  wozr2hv8     NaN
3    1065  11i3mr4n     NaN
4    1083  5buzzcr7     NaN

In [4]:
ids_2000 = pd.read_csv('../data/raw/ut2000/admin/id_crossover.csv')
ids_2000.head()

   record     beiwe  beacon
0    2000  wsv7bqh4     NaN
1    2001  vcdohuvw     NaN
2    2002  7zo5b6ma     NaN
3    2003  gy1mxy8v     NaN
4    2004  qbrarqn9     NaN

In [5]:
# combining ut1000 and 2000 records
ids = ids_1000.append(ids_2000)

# Beacon Data
The beacon data can be read in based on the beiwe IDs of the participants