# Exploring the UTx000 Dataset
From the first cohort in Spring 2020

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Beacon Summary
This dataset was more or less a trial run, but some of these data could be useful. We need to look at what kind of data the beacons recovered.

In [4]:
import os

import pandas as pd
import numpy as np

from datetime import datetime, timedelta

import matplotlib.pyplot as plt
import seaborn as sns

# Data Import

In [20]:
number = '01'
py2_df = pd.DataFrame()
for file in os.listdir(f'../data/raw/bpeace1/beacon/B{number}/sensirion/'):
    try:
        day_df = pd.read_csv(f'../data/raw/bpeace1/beacon/B{number}/sensirion/{file}',
                        index_col='Timestamp',parse_dates=True,infer_datetime_format=True)
        py2_df = py2_df.append(day_df)
    except Exception as inst:
        print(f'{inst}; filename: {file}')
        
for col in py2_df.columns:
    py2_df[col] = pd.to_numeric(py2_df[col],errors='coerce')
    
py2_df = py2_df.resample('5T').mean()

In [21]:
py2_df

,Temperature [C],Relative Humidity,CO2,PM_N_0p5,PM_N_1,PM_N_2p5,PM_N_4,PM_N_10,PM_C_1,PM_C_2p5,PM_C_4,PM_C_10
Timestamp,,,,,,,,,,,,
2019-12-16 12:15:00,19.487044,24.332682,344.006490,28.086392,32.095164,32.187653,32.189463,32.190653,3.861713,4.010890,4.010890,4.010890
2019-12-16 12:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-16 12:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-16 12:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-16 12:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-24 15:45:00,31.145279,41.822327,1765.194507,175.829417,210.820166,216.543293,217.425281,217.619701,27.171785,33.516938,37.388568,38.162898
2020-04-24 15:50:00,31.132568,42.204346,1811.406104,176.012152,210.386661,215.722910,216.534092,216.714829,27.065675,32.997063,36.538762,37.247101
2020-04-24 15:55:00,31.052887,42.868591,1858.561797,171.918038,204.216546,208.660320,209.312352,209.461732,26.173339,31.144570,33.950687,34.511911
2020-04-24 16:00:00,31.067093,42.854126,1855.688784,173.423922,209.770977,216.520382,217.591970,217.822767,27.177819,34.618148,39.375847,40.327387
2020-04-24 16:05:00,31.212465,42.588135,1852.744399,169.569938,202.801390,208.011592,208.805737,208.982300,26.098736,31.887157,35.358117,36.052307